<font face="verdana">
<p>%(name)s was developed by %(publisher)s I would
like to also extend my grateful thanks to the following:</p>
<br></br>
<div align="center">
<font face="verdana" size="2">
<table width="90%%">
    <tr>
        <td>
            <hr>
            Kevin Altis <a href="mailto:altis@semi-retired.com">altis@semi-retired.com</a>,
            without whose excellent work on PythonCard none of this would be possible.
        </td>
    </tr>
    <tr>
        <td>
            <hr>
        </td>
    </tr>
</table>
</div>
</font>
