<script>window.googleJavaScriptRedirect=1</script><script>var m={navigateTo:function(b,a,d){if(b!=a&&b.google){if(b.google.r){b.google.r=0;b.location.href=d;a.location.replace("about:blank");}}else{a.location.replace(d);}}};m.navigateTo(window.parent,window,"http://www.umc.edu.dz/vf/proceeding/efeea-2010/Topic_4/APP19.pdf");
</script><noscript><META http-equiv="refresh" content="0;URL='http://www.umc.edu.dz/vf/proceeding/efeea-2010/Topic_4/APP19.pdf'"></noscript>