<font face="sans-serif">
PySSHed is a GUI session manager for SSH connections
under Linux and Windows.

<p>PySSHed was developed using the PythonCard GUI toolkit,
<a href="http://pythoncard.sourceforge.net">http://pythoncard.sourceforge.net</a></p>

