<font face="sans-serif">
PySSHed was developed by Phil Edwards <a href="mailto:phil@linux2000.com"> phil@linux2000.com</a>. Credit
is also due to the following people:</p>
<font size="-2">
<p>Kevin Altis <a href="mailto:altis@semi-retired.com">altis@semi-retired.com</a>, without
whose excellent work on PythonCard none of this would be possible<br>
</font>
