QPlainTextEdit, QTextEdit { background-color: #002b36;
        color: #839496;
        selection-background-color: #839496;}
.inverted { background-color: #839496; color: #002b36;}
.error { color: #dc322f; }
.in-prompt { color: #859900; }
.in-prompt-number { font-weight: bold; }
.out-prompt { color: #d33682; }
.out-prompt-number { font-weight: bold; }

