<!-- start of sidebar table -->
<!-- $Revision: 1.3 $, $Date: 2001/08/17 04:21:53 $ -->
<TABLE WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=3
       BGCOLOR="#ffffff">
<TR><TD BGCOLOR="#003366"><B><FONT COLOR="#ffffff">
General
</FONT></B></TD></TR>
<TR><TD BGCOLOR="#FFFFFF">
<A HREF="">Home page</A>
</TD></TR>
<!--
<TR><TD BGCOLOR="#ffffff">
<A HREF="">Documentation</A>
</TD></TR>
-->
<TR><TD BGCOLOR="#ffffff">
<A HREF="http://sourceforge.net/project/showfiles.php?group_id=19015">Downloads</A>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">
<A HREF="http://groups.yahoo.com/group/pythoncard">Mailing list</A>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">
<A HREF="samples.html">Screenshots</A>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">&nbsp;
<TR><TD BGCOLOR="#003366"><B><FONT COLOR="#ffffff">
Development
</FONT></B></TD></TR>
<TR><TD BGCOLOR="#ffffff">
<a href="http://sourceforge.net/projects/pythoncard/" >Project page</a>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">
<A HREF="http://sourceforge.net/cvs/?group_id=19015">CVS access</A>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">
<A HREF="http://sourceforge.net/tracker/?atid=119015&group_id=19015&func=browse">Bug Reports</A>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">
<A HREF="http://sourceforge.net/tracker/?atid=369015&group_id=19015&func=browse">Feature Requests</A>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">&nbsp;
<TR><TD BGCOLOR="#003366"><B><FONT COLOR="#ffffff">
Exits
</FONT></B></TD></TR>
<TR><TD BGCOLOR="#ffffff">
<A HREF="http://sourceforge.net/projects/pycrust">PyCrust</A>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">
<A HREF="http://www.wxpython.org/">wxPython</A>
</TD></TR>
<TR><TD BGCOLOR="#ffffff">
&nbsp;
</TD></TR>
</TABLE><!-- end of sidebar table -->
